@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: the-end-page;
    default: true;
    prefersdark: false;
    color-scheme: light;
    --color-base-300: oklch(15.3% 0.005 28/0.85);
    --color-base-200: oklch(10.3% 0.005 28/0.85);
    --color-base-100: oklch(5.3% 0.005 28/0.85);
    --color-base-content: oklch(100% 0 0);
    --color-primary: #D2AFFF;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: #0671BA;
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: #9066c7;
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(14% 0.004 49.25);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(93% 0.032 255.585);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(96% 0.067 122.328);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(95% 0.038 75.164);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(93% 0.032 17.717);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 2rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 1;
}

@layer base {
    body {
        @apply antialiased;
    }
}

@layer utilities {
    .btn-primary {
        @apply bg-gradient-to-br from-primary to-accent;
    }
}